@media (max-width: 650px) {
  .learn-more {
    margin-left: 20px;
  }
  .results-box {
    max-width: 400px;
    margin-left: 10px;
    margin-right: 25px;
  }
  .right {
    padding: 0px;
    margin-top: 20px;
    position: relative;
    right: 10px;
  }
  .synonym-box {
    max-width: 300px;
  }
  .photos-box {
    max-width: 300px;
    margin-top: 20px;
  }
}
hr {
  margin: 40px 35px;
  border: 0.3px solid white;
}
.line-2 {
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 12px;
}
.learn-more {
  text-align: left;
  color: white;
  font-weight: 300;
  font-size: 14px;
  margin: 0px;
}
a {
  color: white;
}
a:hover {
  text-decoration: none;
}
.Results {
  display: block;
  margin: 0px auto;
  overflow: hidden;
}
#results-columns {
  margin: 0px 20px;
}
.results-box {
  background-color: #caafaf;
  color: white;
  border-radius: 10px;
  margin-top: 25px;
  margin-left: 0px;
  margin-right: 50px;
  padding: 10px 30px;
  padding-right: 15px;
  width: 450px;
  max-height: max-content;
  text-align: left;
}
.keyword {
  font-weight: 300;
  font-size: 45px;
  margin-bottom: 0px;
}
.part-of-speech {
  color: #681a1a;
  font-weight: 500;
}
.phonetic {
  margin-top: 0px;
  font-weight: 200;
  font-size: 23px;
}
.definition {
  font-size: 18px;
}
.right {
  margin-right: 20px;
}
.synonym-box {
  background-color: #844a4a;
  border-radius: 10px;
  padding: 20px 0px;
  margin: 0px auto;
  width: 400px;
  height: fit-content;
}
.similar-words {
  color: white;
  font-weight: 300;
  font-size: 32px;
  text-align: left;
  margin-left: 20px;
}
.Synonyms {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0px 10px;
}
.synonym-list {
  color: #681a1a;
  background-color: #caafaf;
  border: 1px solid #caafaf;
  border-radius: 10px;
  padding: 10px 15px;
  margin: 6px 8px;
}
.photos-box {
  margin: 0px auto;
  margin-top: 30px;
  background-color: #844a4a;
  padding: 30px 0px;
  border-radius: 10px;
  width: 400px;
}
.picture {
  margin: 5px 0px;
}
.picture:hover {
  transform: scale(1.25);
  transition: all 150ms ease-in-out;
}
