hr {
  margin: 40px 35px;
  border: 0.3px solid white;
  min-width: 1210px;
}
.line-2 {
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 12px;
}
.learn-more {
  text-align: left;
  color: white;
  font-weight: 300;
  font-size: 14px;
  margin: 0px;
  margin-left: 150px;
}
a {
  color: white;
}
a:hover {
  text-decoration: none;
}
.Results {
  display: block;
  margin: 0px auto;
  overflow: hidden;
  min-width: 1280px;
}
.results-columns {
  display: inline-flex;
}
.results-box {
  background-color: #caafaf;
  color: white;
  border-radius: 10px;
  margin-top: 25px;
  margin-left: 0px;
  margin-right: 100px;
  padding: 10px 30px;
  padding-right: 15px;
  width: 450px;
  max-width: 450px;
  max-height: max-content;
  text-align: left;
}
.keyword {
  font-weight: 300;
  font-size: 45px;
  margin-bottom: 0px;
}
.part-of-speech {
  color: #681a1a;
  font-weight: 500;
}
.phonetic {
  margin-top: 0px;
  font-weight: 200;
  font-size: 23px;
}
.definition {
  font-size: 18px;
}
.synonym-box {
  background-color: #844a4a;
  border-radius: 10px;
  padding: 20px 0px;
  margin: 0px auto;
  width: 400px;
  height: fit-content;
}
.similar-words {
  color: white;
  font-weight: 300;
  font-size: 32px;
  text-align: left;
  margin-left: 20px;
}
.Synonyms {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0px 10px;
}
.synonym-list {
  color: #681a1a;
  background-color: #caafaf;
  border: 1px solid #caafaf;
  border-radius: 10px;
  padding: 10px 15px;
  margin: 6px 8px;
}
.photos-box {
  margin-top: 30px;
  background-color: #844a4a;
  padding: 30px 0px;
  border-radius: 10px;
}
